
<!---------------------STANDARD VIEW ARTICLE --------------------->
<div class="list row">
  <div class="col-md-6 article-text-public">
    <!-- <h4>Acerca de</h4> -->
    <!-- SHOW ALL ARTICLES (ngFor) -->
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let about of about; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveAbout(about, i)"
      >
        <h6>{{ about.title }}</h6>
        <p>{{ about.description }}</p>
      </li>
    </ul>
    <!-- SHOW ALL ARTICLES (ngFor)  / -->
  </div>

  <!-- SHOW ARTICLE TO EDIT TO THE USER REGISTERED ONLY -->
  <div class="col-md-6 article-text-edit" *ngIf="isLoggedIn">
    <app-about-details
      [viewMode]="true"
      [currentAbout]="ccccurrentAbout"
      class="article-details-edit"
    ></app-about-details>
  </div>
</div>
<!--------------------- STANDARD VIEW ARTICLE /--------------------->
