<!---------------------STANDARD VIEW ARTICLE --------------------->
<div class="list row">
  <div class="col-md-6 article-text-public">
    <!-- <h4>Acerca de</h4> -->

    <!-- SHOW ALL ARTICLES TO PUBLIC (ngFor) -->
    <ul class="list-group" *ngIf="!isLoggedIn; else editable">
      <li
        class="list-group-item"
        *ngFor="let skill of skill; let i = index"
        [class.active]="i == currentIndex"
      >
        <h6>{{ skill.title }}</h6>
        <p>{{ skill.description }}</p>
      </li>
    </ul>
    <!-- SHOW ALL ARTICLES TO PUBLIC (ngFor)  / -->

    <!-- SHOW ALL ARTICLES TO EDIT (ngFor)  -->
    <ng-template #editable>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let skill of skill; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveSkill(skill, i)"
        >
          <h6>{{ skill.title }}</h6>
          <p>{{ skill.description }}</p>
        </li>
      </ul>
    </ng-template>
    <!-- SHOW ALL ARTICLES TO EDIT (ngFor)  / -->
  </div>

  <!-- SHOW ARTICLE TO EDIT TO THE USER REGISTERED ONLY -->
  <div class="col-md-6 article-text-edit" *ngIf="isLoggedIn">
    <app-skill-details
      [viewMode]="true"
      [currentSkill]="ccccurrentSkill"
      class="article-details-edit"
    ></app-skill-details>
  </div>
</div>
<!--------------------- STANDARD VIEW ARTICLE /--------------------->
