.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #702712;
  color: white;
  font-weight: 600;
}

.header img {
  margin: 0 16px;
}


@media screen and (max-width: 575px) {
  .logo {
    width: 100px;
  }
}

