/* MESSAGE EDIT ACTUALIZED */
.message {
  /* font-size: 1.1rem; */
  /* font-weight: bold; */
  /* background-color: white; */
  animation-name: buttonUpdate;
  animation-duration: 2s;
  border-radius: 4px;
  padding: 10px 9px 15px;
  /* text-align: center; */
  visibility: hidden;
  height: auto;
  margin-left: 1rem;
  /* margin: auto;*/
}
@keyframes buttonUpdate {
  from {
    visibility: visible;
    background-color: blue;
    color: white;
  }
  to {
    background-color: blue;
    color: white;
    display: none;
  }
}
/* MESSAGE EDIT ACTUALIZED */


