.header-content {
  /* background-color: #1c2025; */
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  width: 100%;
}
.logo {
  flex-flow: wrap;
  display: flex;
}
.spacer {
  flex: auto;
}

.links {
  margin: 0 9px 0;
  display: flex;
  align-items: center;
}
.links a {
  margin: 3px;
}
.auth {
  display: flex;
}
.navmenu {
  overflow: hidden;
}
.menu {
  display: flex;
  height: 47px;
  align-items: center;
  flex-direction: column;
}
.menu li {
  margin-top: -12px;
}
.menu li:hover {
  background-color: cornflowerblue;
  border-radius: 23px;
}
ul.home {
  padding: 14px;
}
.yoprogramo {
  font-size: 0.9rem;
  margin-top: 5px;
}
