.banner {
  margin-top: 57px;
  position: relative;
}
.banner img {
  width: 100%;
}
.sentence {
  text-align: center;
  position: absolute;
  left: 29%;
  color: white;
  top: 48%;
  width: 25%;
  font-size: 1.1rem;
}
