.edit-form {
  max-width: 400px;
  margin: auto;
}
.message {
  width: 100px;
  height: auto;
  background-color: white;
  animation-name: buttonUpdate;
  animation-duration: 2s;
  border-radius: 10px;
  padding: 10px;
  visibility: hidden;
}
@keyframes buttonUpdate {
  from {
    visibility: visible;
    background-color: blue;
    color: white;
  }
  to {
    visibility: visible;
    background-color: blue;
    color: white;
  }
}
