<!-- RESTRICT VIEW TO UNAUTHORIZED USERS -->
<!-- IF isLoggedIn FAIL: FORBIDDEN -->
<div *ngIf="!isLoggedIn; else editMode">FORBIDDEN</div>

<!-- CONTENT FOR AUTHORIZED USERS -->
<!-- ELSE SHOW ARTICLE -->
<ng-template #editMode>
  <!--STANDARD VIEW ARTICLE -->
  <div class="list row">
    <div class="col-md-6">
      <h4>About</h4>
      <!-- SHOW ALL ARTICLES (ngFor) -->
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let about of about; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveAbout(about, i)"
        >
          <h6>{{ about.title }}</h6>
          <p>{{ about.description }}</p>
        </li>
      </ul>
    </div>
    <!-- SHOW ARTICLE TO EDIT -->
    <div class="col-md-6">
      <app-about-details [viewMode]="true" [currentAbout]="ccccurrentAbout">
      </app-about-details>
    </div>
  </div>
  <!-- STANDARD VIEW ARTICLE /-->
</ng-template>
