<!-- RESTRICT EDIT TO UNAUTHORIZED USERS -->
<!-- IF isLoggedIn FAIL: FORBIDDEN -->
<div *ngIf="!isLoggedIn; else editMode">FORBIDDEN</div>

<!-- ELSE SHOW ARTICLE TO EDIT -->
<ng-template #editMode>
  <div *ngIf="isLoggedIn">
    <div class="submit-form">
      <h4>Añadiendo skill</h4>
      <div *ngIf="!submitted">
        <!-- FORM -->

        <!-- TITLE -->
        <div class="form-group">
          <label for="nameskill">Habilidad</label>
          <input
            type="text"
            class="form-control"
            id="nameskill"
            required
            [(ngModel)]="skill.nameskill"
            name="nameskill"
          />
        </div>

        <!-- DESCRIPTION -->
        <div class="form-group">
          <label for="levelskill">Nivel</label>
          <textarea
            class="form-control"
            id="levelskill"
            required
            [(ngModel)]="skill.levelskill"
            name="levelskill"
            rows="5"
            cols="40"
          ></textarea>
        </div>

        <!-- SUBMIT -->
        <button (click)="saveSkill()" class="btn btn-success">Submit</button>

        <!-- FORM /-->
      </div>
    </div>
  </div>
</ng-template>
