<div>
  <div class="submit-form">
    <h4>Añadiendo skill</h4>
    <div *ngIf="!submitted">
      <!-- FORM -->
      <div class="form-group">
        <label for="html">Html</label>
        <input
          type="text"
          class="form-control"
          id="html"
          required
          [(ngModel)]="skill.html"
          name="html"
        />
      </div>

      <button (click)="saveSkill()" class="btn btn-success">Submit</button>
      <!-- FORM /-->
    </div>

    <div *ngIf="submitted">
      <h4>Skill was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newSkill()">Add</button>
    </div>
  </div>
</div>
