<!-- RESTRICT VIEW TO UNAUTHORIZED USERS -->
<!-- IF isLoggedIn FAIL: FORBIDDEN -->
<div *ngIf="!isLoggedIn; else editMode">FORBIDDEN</div>

<!-- CONTENT FOR AUTHORIZED USERS -->
<!-- ELSE SHOW ARTICLE -->
<ng-template #editMode>
  <!--STANDARD VIEW ARTICLE -->
  <div class="list row">
    <div class="col-md-6">
      <h4>Skill</h4>
      <!-- SHOW ALL ARTICLES (ngFor) -->
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let skill of skill; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveSkill(skill, i)"
        >
          <h6>{{ skill.title }}</h6>
          <p>{{ skill.description }}</p>
        </li>
      </ul>
    </div>
    <!-- SHOW ARTICLE TO EDIT -->
    <div class="col-md-6">
      <app-skill-details [viewMode]="true" [currentSkill]="ccccurrentSkill">
      </app-skill-details>
    </div>
  </div>
  <!-- STANDARD VIEW ARTICLE /-->
</ng-template>
