<!---------------------STANDARD VIEW ARTICLE --------------------->
<div class="list row">
  <div class="col-md-6">
    <h4>Experience</h4>
    <!-- SHOW ALL ARTICLES (ngFor) -->
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let experience of experience; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveExperience(experience, i)"
      >
        <h6>{{ experience.title }}</h6>
        <p>{{ experience.description }}</p>
      </li>
    </ul>
    <!-- SHOW ALL ARTICLES (ngFor)  / -->
  </div>

  <!-- SHOW ARTICLE TO EDIT TO THE USER REGISTERED ONLY -->
  <div class="col-md-6" *ngIf="isLoggedIn">
    <app-experience-details
      [viewMode]="true"
      [currentExperience]="ccccurrentExperience"
    ></app-experience-details>
  </div>
</div>
<!--------------------- STANDARD VIEW ARTICLE /--------------------->
