/* You can add global styles to this file, and also import other style files */
@import './normalize.css';

/* MY RESET GENERAL CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* font-family: 'Roboto', sans-serif; */
}

a {
  text-decoration: none;
  color: white;
}
/* MY RESET GENERAL CSS / */

body {
  /* max-width: 90%; */
  display: block;
  margin: auto;
  /* background-color: aqua; */
  /* border: 1px solid #000; */
  background-image: url('./assets/images/banner/hubble3.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/* BOOSTRAP */
.container {
  min-width: 100% !important;
}

/************ ARTICLE GENERAL EXPERIENCE **************/

.title-experience {
  height: 53px;
  color: white;
  margin: 2rem 0.6rem 0rem;
}
.article-experience-card {
  /* background-color: black; */
  /* width: fit-content; */
  border-radius: 4px;
  margin-top: 37px;
  /* border: 1px solid white; */
  box-shadow: 0px 0px 15px 9px white;
}
.article-header {
  display: flex;
  align-items: center;
}

/* article-image-component */
.article-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: black; */
  border-radius: 5px;
  margin-top: 0.7rem;
  /* height: 10rem; */
  width: 17rem;
  margin-left: auto;
  margin-right: auto;
}
.article-image img {
  width: 9rem;
  border-radius: 67%;
  position: absolute;
  top: 30rem;
  box-shadow: 1px 2px 0px 1px white;
}
.article-image > h4,
.article-image > h5 {
  font-size: 1.7rem;
  font-family: serif;
  color: white;
}

/* article-text-component */
.article-text {
  margin-right: 23rem;
  min-width: 51%;
  overflow-wrap: break-word;
  margin-bottom: 0.7rem;
}
.article-text-header {
  margin: 0 !important;
  display: flex;
  align-items: baseline;
}

.icons-edit {
  margin-right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: -10px -15px -11px;
}

.icons-edit img {
  margin-left: 7px;
}

/* PARA ABOUT */
/* ARTICLE DINAMIC CARD */
.about-dynamic-card,
.article-dynamic-card {
  display: flex;
}
.about-image-article,
.image-article {
  min-width: 17rem;
  max-width: 17rem;
  margin: 0 2rem 0;
}
/* PARA ABOUT / */

.article-dynamic-card > h4,
.article-dynamic-card > h5 {
  color: white;
  text-align: center;
}
.edit-form h4 {
  color: black;
}
.article-text-public {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 4rem;
}
.article-text-public li {
  border: 1px solid;
  /* box-shadow: inset 0px 0px 7px 1px black; */
  /* z-index: 1; */
  margin: 10px;
  height: 10rem;
  /* overflow: hidden;*/
}

.list-group-item.active {
  background-color: white;
  color: black;
  border-radius: 0;
  box-shadow: 0px 0px 0px 7px blue;
  border: none;
  margin: 10px;
}
.list-group-item {
  border: none;
}
.list-group-item + .list-group-item.active {
  margin: 10px;
}

/* ARTICLE EDIT */
.article-text-edit {
  right: auto;
  z-index: 10;
  left: 22rem;
  bottom: 17%;
  position: fixed;
  background-color: dodgerblue;
  border-radius: 4px;
  max-width: -moz-fit-content;
  width: -moz-fit-content;
  /* width: fit-content; */
  /* height: auto; */
  /* display: flex;
  /* box-shadow: 0px 0px 20px 7px black;*/
}

.article-details-edit {
  width: 100vw;
}
.edit-form {
  /* display: flex; */
  /* white-space: nowrap; */
  /* align-items: flex-start; */
  line-height: 0;
}
form.editable {
  /* display: flex; */
  box-shadow: 0px 0px 0px 7px blue;
  width: 100%;
  /* border-radius: 4px; */
}
label {
  line-height: 1.1rem;
}
input.form-control,
textarea.form-control {
  z-index: 3;
  width: 100%;
  /* border-radius: 4px; */
}

.article-buttons-edit {
  margin: 1rem;
  display: flex;
  align-items: baseline;
}

/************ ARTICLE GENERAL EXPERIENCE **************/

@media (max-width: 890px) {
  .article-dynamic-card {
    display: block;
  }

  .article-text-edit {
    left: 10rem;
    width: 1rem;
  }

  .edit-form {
    display: inline;
  }

  .article-header {
    align-items: flex-start;
    flex-direction: column;
  }

  /* ACOMODAR TARJETAS TEXTO E IMAGEN */

  .article-dynamic-card {
    display: flex;
  }
  .article-text {
    margin-right: auto;
    width: 100%;
  }
  .image-article {
    min-width: 10rem;
    max-width: 10rem;
    margin: 0 -11px 0 0;
  }

  .article-text-public li {
    /* height: 13rem; */
  }
  /* TO ABOUT */
  .about-dynamic-card {
    display: block;
  }
}

@media (max-width: 640px) {
  .image-article {
    display: none;
  }
  .article-text-edit {
    left: 0;
  }
}

@media (max-width: 1190px) {
  .article-text {
    margin: auto;
  }
  .article-text-edit {
    min-width: fit-content;
    max-width: initial;
    width: -webkit-fill-available;
  }
}
