/* You can add global styles to this file, and also import other style files */
@import './normalize.css';

/* MY RESET GENERAL CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* font-family: 'Roboto', sans-serif; */
}

a {
  text-decoration: none;
  color: white;
}
/* MY RESET GENERAL CSS / */

body {
  /* max-width: 90%; */
  display: block;
  margin: auto;
  /* background-color: aqua; */
  /* border: 1px solid #000; */
  background-image: url('./assets/images/banner/hubble3.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/************ ARTICLE GENERAL EXPERIENCE **************/

.title-experience {
  height: 53px;
}
.article-experience-card {
  background-color: white;
  width: fit-content;
  border-radius: 4px;
  margin-top: 37px;
}

/* article-image-component */
.article-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.article-image img {
  width: 7rem;
  border-radius: 27%;
  position: absolute;
  margin-top: -147px;
}
.article-header {
  display: flex;
  align-items: center;
}

/* article-text-component */
.article-text {
  margin-right: 5px;
  max-width: 25rem;
}

/* ARTICLE DINAMIC CARD */
.article-dynamic-card {
  display: flex;
}
.image-article {
  min-width: 12rem;
}
/************ ARTICLE GENERAL EXPERIENCE **************/
